.play {
  width: 100%;

  position: relative;
  margin-top: 50px;

  display: flex;
  flex-direction: column;

  .triangle {
    position: absolute;
    align-self: center;
    margin-top: 70px;
  }

  .items {
    display: flex;
    justify-content: center;

    .icon {
      height: 160px;
      width: 160px;
      border: 1rem solid;

      &-paper {
        background-color: #fff;
        background-image: url($imageP);
        background-position: center;
        background-repeat: no-repeat;
        border-color: $paper-gradient;
      }
    }
  }
}
